In [1]:
! pip install PyMySQL
! pip install ipython.sql
! pip install mysqlclient

Requirement already satisfied: PyMySQL in c:\users\anb\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: ipython.sql in c:\users\anb\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\anb\anaconda3\lib\site-packages (from ipython.sql) (3.12.0)
Requirement already satisfied: ipython in c:\users\anb\anaconda3\lib\site-packages (from ipython.sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\anb\anaconda3\lib\site-packages (from ipython.sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\anb\anaconda3\lib\site-packages (from ipython.sql) (0.5.3)
Requirement already satisfied: six in c:\users\anb\anaconda3\lib\site-packages (from ipython.sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\anb\anaconda3\lib\site-packages (from ipython.sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\anb\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython.sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\anb\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython.sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\anb\anaconda3\lib\site-packages (from ipython->ipython.sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\anb\anaconda3\lib\site-packages (from ipython->ipython.sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\anb\anaconda3\lib\site-packages (from ipython->ipython.sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\anb\anaconda3\lib\site-packages (from ipython->ipython.sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\anb\anaconda3\lib\site-packages (from ipython->ipython.sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\anb\anaconda3\lib\site-packages (from ipython->ipython.sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\anb\anaconda3\lib\site-packages (from ipython->ipython.sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\anb\anaconda3\lib\site-packages (from ipython->ipython.sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\anb\anaconda3\lib\site-packages (from prettytable->ipython.sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\anb\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython.sql) (0.8.3)
Requirement already satisfied: executing in c:\users\anb\anaconda3\lib\site-packages (from stack-data->ipython->ipython.sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\anb\anaconda3\lib\site-packages (from stack-data->ipython->ipython.sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\anb\anaconda3\lib\site-packages (from stack-data->ipython->ipython.sql) (0.2.2)
Requirement already satisfied: mysqlclient in c:\users\anb\anaconda3\lib\site-packages (2.2.6)

In [3]:
import pymysql

In [5]:
db_name="warehouse"
db_host="localhost"
db_username="root"
db_password="sanMS123@"
try:
    conn=pymysql.connect(host=db_host,
                         port=int(3306),
                         user="root",
                         password="sanMS123@",
                         db=db_name)
except e:
    print(e)
if conn:
    print("connection successfull")
else:
   print("error")

connection successfull

In [7]:
try:
    conn=pymysql.connect(host="localhost",user="root",password="sanMS123@")
    m1=conn.cursor()
    m1.execute("show databases")
    print("Available Databases :")
    i=1
    for db in m1:
        print(db[0])  
        i += 1
except e:
    print(e)

Available Databases :
accmaster
book
client
company
employee
information_schema
institue
library
mysql
performance_schema
production
school
warehouse

In [9]:
import pymysql
db_name="school"
db_host="localhost"
db_username="root"
db_password="sanMS123@"
try:
    conn=pymysql.connect(host=db_host,
                         port=int(3306),
                         user="root",
                         password="sanMS123@",
                         db=db_name)
except e:
    print(e)
if conn:
    print("connection successfull")
else:
   print("error")

connection successfull

In [11]:

import pymysql

try:
    conn = pymysql.connect(host="localhost", user="root", password="sanMS123@")
    m1 = conn.cursor()
    m1.execute("select * from school")
    print("School Database:")
    i = 1
    for db in m1:
        print(db[0])  
        i += 1
except Exception as e: 
    print(e)

(1046, 'No database selected')

In [13]:
import pymysql
db_name="accmaster"
db_host="localhost"
db_username="root"
db_password="sanMS123@"
try:
    conn=pymysql.connect(host=db_host,
                         port=int(3306),
                         user="root",
                         password="sanMS123@",
                         db=db_name)
except e:
    print(e)
if conn:
    print("connection successfull")
else:
   print("error")

connection successfull

In [15]:

mycursor=conn.cursor()
mycursor.execute("select * from accmaster")
for x in mycursor:
    print(x[0],x[1],' ',x[2])

AC001 kiran   10000.00
AC002 ajay   5000.00
AC003 suresh   12000.00
AC004 kishore   6500.00
AC005 amar   8000.00
AC006 ravi   4000.00
AC007 Sowmya   38000.00
AC008 lakshman   10000.00
AC009 srilakshmi   39000.00
AC011 Srivani   38500.00
AC012 srija   39000.00
AC013 samala   39000.00
AC014 srinija   38000.00
AC015 chandu   39500.00
AC016 jaydeep   40000.00
AC018 ravi   50000.00

In [17]:

 mycursor = conn.cursor()
choice = "yes"

while choice.lower() == "yes":
    try:
        mycursor.execute("show databases")
        i = 1
        dl = []
        for x in mycursor:
            print(i, '.', x[0])
            dl.append(x[0])
            i += 1
        while True:
            try:
                dc = int(input("Enter the choice for database (as a number): "))
                if 1 <= dc <= len(dl):
                    break
                else:
                    print(f"Invalid choice. Please select a number between 1 and {len(dl)}.")
            except ValueError:
                print("Invalid input. Please enter a numeric value.")

        dst = "use " + dl[dc - 1]
        mycursor.execute(dst)
        mycursor.execute("show tables")
        i = 1
        tl = []
        for y in mycursor:
            print(i, '.', y[0])
            tl.append(y[0])
            i += 1

        # Select a table
        while True:
            try:
                tc = int(input("Enter the choice for the table (as a number): "))
                if 1 <= tc <= len(tl):
                    break
                else:
                    print(f"Invalid choice. Please select a number between 1 and {len(tl)}.")
            except ValueError:
                print("Invalid input. Please enter a numeric value.")

        tst = "select * from " + tl[tc - 1]
        mycursor.execute(tst)

        for row in mycursor:
            print(*row)  
        
        choice = input("Do you want to continue [yes/no]? ").strip().lower()
    except Exception as e:
        print(f"An error occurred: {e}")
        break

1 . accmaster
2 . book
3 . client
4 . company
5 . employee
6 . information_schema
7 . institue
8 . library
9 . mysql
10 . performance_schema
11 . production
12 . school
13 . warehouse

Enter the choice for database (as a number):  1

1 . accmaster
2 . acctrans
3 . interest

Enter the choice for the table (as a number):  2

AC002 d 6000.00
AC004 w 2000.00
AC004 w 300.00
AC004 w 200.00
AC004 d 500.00
AC008 w 2000.00
AC011 w 500.00
AC015 d 500.00
AC018 d 5000.00
AC009 w 2500.00

Do you want to continue [yes/no]?  no

In [19]:
import pymysql
db_name="school"
db_host="localhost"
db_username="root"
db_password="sanMS123@"
try:
    conn=pymysql.connect(host=db_host,
                         port=int(3306),
                         user="root",
                         password="sanMS123@",
                         db=db_name)
except e:
    print(e)
if conn:
    print("connection successfull")
else:
   print("error")
mycursor=conn.cursor()
regno=int(input("enter regno"))
na=input("enter name")
mycursor.execute("insert into school(regno,sname) values(" + str(regno) + ",'" + na + " ')")
mycursor.execute("commit");

connection successfull

enter regno 109
enter name ram

In [21]:
import pymysql
db_name = "accmaster"
db_host = "localhost"
db_username = "root"
db_password = "sanMS123@"
try:
    conn = pymysql.connect(
        host=db_host,
        port=3306,
        user=db_username,
        password=db_password,
        db=db_name
    )
except Exception as e:
    print(f"Error connecting to the database: {e}")
    conn = None

if conn:
    print("Connection successful")
else:
    print("Error in connection")
    exit()

try:
    accmcursor = conn.cursor()
    acctcursor = conn.cursor()
    accmcursor.execute("SELECT accno, balance FROM accmaster")
    accounts = accmcursor.fetchall()
    ano = input("Enter Account Number: ")
    tty = input("Enter Transaction Type (withdraw or deposit): ").lower()
    tamt = int(input("Enter Transaction Amount: "))
    flag = False
    for acc in accounts:
        if acc[0] == ano:
            flag = True
            bal = acc[1]
            break
    if flag:
        if tty == "deposit":
            bal += tamt
        elif tty == "withdraw":
            if tamt > bal:
                print("Insufficient funds for withdrawal.")
                conn.close()
                exit()
            bal -= tamt
        else:
            print("Invalid transaction type.")
            conn.close()
            exit()
        sqlUpd = "UPDATE accmaster SET balance = %s WHERE accno = %s"
        val = (bal, ano)
        acctcursor.execute(sqlUpd, val)
        conn.commit()
        print("Transaction completed successfully.")
    else:
        print("Account number not found.")

except Exception as e:
    
    print(f"An error occurred: {e}")
    conn.rollback()
finally:
    
    conn.close()

Connection successful

Enter Account Number:  Ac001
Enter Transaction Type (withdraw or deposit):  withdraw
Enter Transaction Amount:  500

Account number not found.

In [29]:

       import pymysql
db_name = "accmaster"
db_host = "localhost"
db_username = "root"
db_password = "sanMS123@"
try:
    conn = pymysql.connect(
        host=db_host,
        port=3306,
        user=db_username,
        password=db_password,
        db=db_name
    )
except Exception as e:
    print(f"Error connecting to the database: {e}")
    conn = None

if conn:
    print("Connection successful")
else:
    print("Error in connection")

Connection successful

In [37]:
def setacctrans(self):
    self.accno = input("Enter accno: ")
    self.ttype = input("Enter transaction type (deposit/withdraw): ").lower()
    self.tamount = int(input("Enter transaction amount: "))

    # Fetch current balance for the account
    self.mycursor.execute("SELECT balance FROM accmaster WHERE accno = %s", (self.accno,))
    result = self.mycursor.fetchone()

    if result:
        current_balance = result[0]
        if self.ttype == "deposit":
            new_balance = current_balance + self.tamount
        elif self.ttype == "withdraw":
            if self.tamount > current_balance:
                print("Insufficient balance!")
                return
            new_balance = current_balance - self.tamount
        else:
            print("Invalid transaction type!")
            return

        # Insert transaction record
        sql_insert = "INSERT INTO acctrans (accno, ttype, tamount) VALUES (%s, %s, %s)"
        self.mycursor.execute(sql_insert, (self.accno, self.ttype, self.tamount))

        # Update account balance
        sql_update = "UPDATE accmaster SET balance = %s WHERE accno = %s"
        self.mycursor.execute(sql_update, (new_balance, self.accno))

        self.conn.commit()
        print("Transaction successful!")
    else:
        print("Account not found!")

In [63]:
import pymysql
db_name = "Library"
db_host = "localhost"
db_username = "root"
db_password = "sanMS123@"
class DBConnection:
    def __init__(self):
        try:
            self.conn = pymysql.connect(
                host=db_host,
                port=3306,
                user=db_username,
                password=db_password,
                db=db_name
            )
            self.mycursor = self.conn.cursor()
        except Exception as e:
            print(f"Error connecting to the database: {e}")
            self.conn = None
            self.mycursor = None
    def commit(self):
        if self.conn:
            self.conn.commit()
    def close(self):
        if self.conn:
            self.conn.close()

class Book(DBConnection):
    def __init__(self):
        super().__init__()

    def setBook(self):
        try:
            self.book_id = int(input("Enter book ID: "))
            self.title = input("Enter title: ")
            self.author = input("Enter author: ")
            self.ISBN = int(input("Enter ISBN: "))
            self.status = input("Enter status: ")
            self.mycursor.execute("INSERT INTO Book (book_id, title, author, ISBN, status) VALUES (%s, %s, %s, %s, %s)",
                                  (self.book_id, self.title, self.author, self.ISBN, self.status))
            self.commit()
            print("Book added successfully.")
        except Exception as e:
            print(f"Error inserting book: {e}")

    def getBook(self):
        try:
            self.mycursor.execute("SELECT * FROM Book")
            result = self.mycursor.fetchall()
            for row in result:
                print(row)
        except Exception as e:
            print(f"Error fetching books: {e}")
class Members(DBConnection):
    def __init__(self):
        super().__init__()
    def setMembers(self):
        try:
            self.name = input("Enter name: ")
            self.member_id = input("Enter member ID: ")
            self.email = input("Enter email: ")
            self.borrowed_book = int(input("Enter number of borrowed books: "))
            self.mycursor.execute("INSERT INTO Members (name, member_id, email, borrowed_book) VALUES (%s, %s, %s, %s)",
                                  (self.name, self.member_id, self.email, self.borrowed_book))
            self.commit()
            print("Member added successfully.")
        except Exception as e:
            print(f"Error inserting member: {e}")
    def getMembers(self):
        try:
            self.mycursor.execute("SELECT * FROM Members")
            result = self.mycursor.fetchall()
            for row in result:
                print(row)
        except Exception as e:
            print(f"Error fetching members: {e}")
class Staff(Members):
    def __init__(self):
        super().__init__()
    def setStaff(self):
        try:
            self.staff_id = int(input("Enter staff ID: "))
            self.member_id = input("Enter member ID: ")
            self.mycursor.execute("INSERT INTO Staff (staff_id, member_id) VALUES (%s, %s)",
                                  (self.staff_id, self.member_id))
            self.commit()
            print("Staff added successfully.")
        except Exception as e:
            print(f"Error inserting staff: {e}")
    def getStaff(self):
        try:
            self.mycursor.execute("SELECT * FROM Staff")
            result = self.mycursor.fetchall()
            for row in result:
                print(row)
        except Exception as e:
            print(f"Error fetching staff: {e}")
book = Book()
book.setBook()
book.getBook()
member = Members()
member.setMembers()
member.getMembers()
staff = Staff()
staff.setStaff()
staff.getStaff()

Enter book ID:  2233
Enter title:  tales
Enter author:  jyo
Enter ISBN:  1726535
Enter status:  Available

Book added successfully.
('B101', 'TenaliTales', 'Srikrishna', 1122, 'Available')
('B102', 'Fair Tales', 'Sri Ram', 334455, 'Borrowed')
('B103', 'Ali Baba', 'SriRagavendra', 667788, 'Available')
('B104', 'funny Tales', 'SriRaghu', 891722, 'Available')
('B105', 'jokes', 'Sivakrishna', 991234, 'Borrowed')
('123', 'jay', 'kiran', 1234, 'Available')
('123', 'jay', 'kiran', 112200, 'Available')
('123', 'jay', 'kiran', 11222, 'Available')
('123', 'jay', 'kiran', 8899, 'Available')
('123', 'jay', 'kiran', 12345, 'Available')
('123', 'jay', 'kiran', 12345, 'Available')
('127', 'raj', 'kiran', 110022, 'Available')
('190', 'jay', 'kiran', 110088, 'Available')
('567', 'tales', 'krishna', 29010, 'Available')
('567', 'tales', 'krishna', 2947, 'Available')
('88', 'tales', 'krishna', 88999, 'Available')
('7777', 'tales', 'krishna', 966, 'Available')
('12345', 'jay', 'kiran', 12034, 'Available')
('1234', 'jay', 'kiran', 19234, 'Available')
('1932', 'jay', 'kiran', 93493, 'Available')
('1567', 'jay', 'kiran', 9382, 'Available')
('7236', 'jay', 'ajay', 9374, 'Available')
('7854', 'jay', 'ajay', 789, 'Available')
('12345', 'jay', 'kiran', 7834, 'Available')
('12345', 'jay', 'kiran', 7834, 'Available')
('12345', 'jay', 'kiran', 7834, 'Available')
('108', 'tales', 'jyothi', 63224, 'Available')
('563', 'tales', 'jyothi', 5463, 'Available')
('2233', 'tales', 'jyo', 1726535, 'Available')

Enter name:  raviteja
Enter member ID:  56533
Enter email:  teja@123
Enter number of borrowed books:  1

Error inserting member: (1406, "Data too long for column 'name' at row 1")
('Raj', 'stid', 'raj@123', 3)
('sam', 'empid', 'sam@456', 2)
('ram', 'stid', 'ram@789', 4)
('Raj', 'stid', 'raj@123', 3)
('sam', 'empid', 'sam@456', 2)
('ram', 'stid', 'ram@789', 4)
('Raj', 'stid', 'raj@123', 3)
('sam', 'empid', 'sam@456', 2)
('ram', 'stid', 'ram@789', 4)
('Raj', 'stid', 'raj@123', 3)
('sam', 'empid', 'sam@456', 2)
('ram', 'stid', 'ram@789', 4)
('sam', 'stid', 'sam@123', 1)
('sam', 'stid', 'sam@896', 3)
('sam', 'stid', 'sam@896', 3)
('stid', 'stid', 'sam@789', 3)

Enter staff ID:  2342
Enter member ID:  AC110

Error inserting staff: (3819, "Check constraint 'staff_chk_1' is violated.")
(1234, 'empid')
(7896, 'empid')
(567, 'empid')
(567, 'empid')
(567, 'empid')

In [69]:
#mydb=conn.connect(host="localhost",user="root",passwd="sanMS123@",database="Library",auth_plugin='mysql_native_password')
mycursor=conn.cursor()
book_id=int(input("enter book_id"))
title=input("enter title")
class Book:
      def setBook(self):
          mycursor.execute("insert into book(book_id,title) values(" + str(book_id) + ",'" + title + " ')")
      def getBook(self):
          mycursor.execute(" select * from book")
          mycursor.execute("commit");

enter book_id 456
enter title tales

In [71]:
class Book:
    def __init__(self, title, author, isbn, status='available'):
        self.__title = title
        self.__author = author
        self.__isbn = isbn
        self.__status = status
    def get_title(self):
        return self.__title 
    def get_author(self):
        return self.__author  
    def get_isbn(self):
        return self.__isbn   
    def get_status(self):
        return self.__status
    def set_status(self, status):
        if status in ['available', 'borrowed']:
            self.__status = status
        else:
            raise ValueError("Status must be either 'available' or 'borrowed'")
    def __str__(self):
        return f"Title: {self.__title}, Author: {self.__author}, ISBN: {self.__isbn}, Status: {self.__status}"
class Member:
    def __init__(self, name, member_id, email):
        self.__name = name
        self.__member_id = member_id
        self.__email = email
        self.__borrowed_books = []
    def get_name(self):
        return self.__name 
    def get_member_id(self):
        return self.__member_id  
    def get_email(self):
        return self.__email   
    def get_borrowed_books(self):
        return self.__borrowed_books
    def borrow_book(self, book):
        if book.get_status() == 'available':
            book.set_status('borrowed')
            self.__borrowed_books.append(book)
            print(f"{self.__name} has borrowed '{book.get_title()}'.")
        else:
            print(f"'{book.get_title()}' is already borrowed.")
    def return_book(self, book):
        if book in self.__borrowed_books:
            book.set_status('available')
            self.__borrowed_books.remove(book)
            print(f"{self.__name} has returned '{book.get_title()}'.")
        else:
            print(f"'{book.get_title()}' is not in the borrowed books list.")
    def __str__(self):
        borrowed_titles = [book.get_title() for book in self.__borrowed_books]
        return f"Name: {self.__name}, Member ID: {self.__member_id}, Email: {self.__email}, Borrowed Books: {borrowed_titles}"
class Library:
    def __init__(self):
        self.__inventory = []
    def add_book(self, book):
        self.__inventory.append(book)
        print(f"Book '{book.get_title()}' added to the library.")
    def display_books(self):
        print("Available books in the library:")
        for book in self.__inventory:
            print(book)
    def find_book_by_isbn(self, isbn):
        for book in self.__inventory:
            if book.get_isbn() == isbn:
                return book
        print("Book not found.")
        return None
    def __str__(self):
        return f"Library has {len(self.__inventory)} books."
if __name__ == "__main__":
    book1 = Book("1984", "George Orwell", "1234567890")
    book2 = Book("To Kill a Mockingbird", "Harper Lee", "2345678901")
    book3 = Book("The Great Gatsby", "F. Scott Fitzgerald", "3456789012")
    library = Library()
    library.add_book(book1)
    library.add_book(book2)
    library.add_book(book3)
    library.display_books()
    member = Member("John Doe", "M001", "john.doe@example.com")
    member.borrow_book(book1)
    print(member)
    member.borrow_book(book1)
    member.return_book(book1)
    library.display_books()

Book '1984' added to the library.
Book 'To Kill a Mockingbird' added to the library.
Book 'The Great Gatsby' added to the library.
Available books in the library:
Title: 1984, Author: George Orwell, ISBN: 1234567890, Status: available
Title: To Kill a Mockingbird, Author: Harper Lee, ISBN: 2345678901, Status: available
Title: The Great Gatsby, Author: F. Scott Fitzgerald, ISBN: 3456789012, Status: available
John Doe has borrowed '1984'.
Name: John Doe, Member ID: M001, Email: john.doe@example.com, Borrowed Books: ['1984']
'1984' is already borrowed.
John Doe has returned '1984'.
Available books in the library:
Title: 1984, Author: George Orwell, ISBN: 1234567890, Status: available
Title: To Kill a Mockingbird, Author: Harper Lee, ISBN: 2345678901, Status: available
Title: The Great Gatsby, Author: F. Scott Fitzgerald, ISBN: 3456789012, Status: available